<nav>
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Adult Tickets</a></li>
      <li class="page-item"><a class="page-link" href="#">{{adultTicket}}</a></li>
      <li class="page-item"><button class="ntb btn-primary" (click)="incrementAdult()">+</button></li>
      <li class="page-item"><button class="ntb btn-primary" (click)="decrementAdult()">-</button></li>
      <li class="page-item"><a class="page-link" href="#">Child Tickets</a></li>
      <li class="page-item"><a class="page-link" href="#">{{childTicket}}</a></li>
      <li class="page-item"><button class="ntb btn-primary" (click)="incrementChild()">+</button></li>
      <li class="page-item"><button class="ntb btn-primary" (click)="decrementChild()">-</button></li>
    </ul>
</nav>  
